/* Start fonts*/

/* Rubik */
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-LightItalic.ttf');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-Italic.ttf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-SemiBoldItalic.ttf');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-ExtraBoldItalic.ttf');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-Black.ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik/Rubik-BlackItalic.ttf');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

/* End fonts */
